/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: white;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.filters {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.filter-btn {
    background-color: #ffffff;
    border: 2px solid #1D6154;
    padding: 10px 20px;
    margin: 0 10px;
    color: #1D6154;
   	font-size: 17px;
    font-family: 'Syne';
    font-weight: 700;
    border-radius: 20px;

}

.filter-btn.active {
    background-color: #1D6154; 
    color: white; 
    border: none; 
}

.hidden {
    display: none;
}


/* Page de connexion */

body.login-page {
    background-color: #FFFEF8 !important; /* Forcing the background to apply */
}

nav ul li.active-link {
    font-weight: bold;
    color: #000000; /* Make the text black */
}

/* Full page container for vertical and horizontal centering */
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full-screen height to vertically center the form */
}

/* Container for the form */
.login-container {
    width: 350px; /* Adjusted width for better form structure */
    padding: 40px;
    text-align: center;
}

h2 {
    color: #1D6154;
    font-size: 30px;
    margin-bottom: 20px;
    font-family: 'Syne', sans-serif; /* Adjusted font family */
}

/* Input Group Styling */
.input-group {
    position: relative;
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #444;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ffffff;
    border-radius: 0px; /* No rounded corners, making the input squared */
    background-color: #ffffff; /* Ensuring the input field background is white */
    font-size: 14px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

}


/* Style du bouton de connexion */
.login-button {
    width: 70%; /* Rendre le bouton plus petit que les champs de saisie */
    padding: 12px; /* Ajuster le padding pour une taille appropriée */
    background-color: #1D6154;
    border: none;
    border-radius: 50px; /* Style de bouton arrondi */
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Transitions douces */
    box-shadow: 0 8px 20px rgba(32, 90, 61, 0.2); /* Ombre du bouton */
    margin-top: 10px; /* Ajouter de l'espace au-dessus du bouton */
}


.login-button:hover {
    background-color: #1b5032; /* Darker shade on hover */
    box-shadow: 0 10px 30px rgba(32, 90, 61, 0.3); /* Shadow grows on hover */
}

/* Forgot password link */
.forgot-password {
    display: block;
    margin-top: 20px;
    color: #3D3D3D;
    text-decoration: underline;
    font-size: 14px;
}


#error-message {
	color: red;
	margin-top: 10px;
} 


/*Mode edition*/
#mode-edition {
    background-color: black;
    color: white;
    padding: 10px;
    position: fixed; /* Bannière fixée en haut */
    top: 0;
    left: 0;
    width: 100%; /* Couvre toute la largeur */
    text-align: center;
    z-index: 10; /* Au-dessus du contenu */
}

.projects-header {
	display: flex;
	align-items: baseline;
	justify-content: center; /* Centre le contenu horizontalement */
	gap: 10px; /* Espace entre le titre et le bouton */
	margin-bottom: 20px;
  }
  
  #modifier-button {
	background-color: transparent;
	color: #3D3D3D;
	border: none;
	cursor: pointer;
	font-size: 16px;
	display: flex;
	align-items: center;
	text-decoration: none;
  }
  
  #modifier-button i {
	margin-right: 5px;
  }
 
/*Modale*/


.modal {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000;
	animation: fadeIn .3s both  ;
	
}

.modal-wrapper {
	/*overflow: auto;*/
	width: 630px;
	height: 670px;
	background-color: white;
	padding: 20px;
	max-width: calc(100vw - 40px);
	min-height: 70%;
	max-height: calc(100vh - 40px);
	position: relative;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	animation: slideFromTop .3s both;
	
}

.modal[aria-hidden="true"] {
	animation-name: fadeOut;
}

.modal[aria-hidden="true"] .modal-wrapper {
	animation-name: slideToBottom;
}

@keyframes fadeIn {

	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes fadeOut {

	from {opacity: 1;}
	to {opacity: 0;}
}


@keyframes slideFromTop {

	from {transfrom: translateY(-50px);}
	to {transfrom: translateY(0px);}
}

@keyframes slideToBottom {

	from {transfrom: translateY(0px);}
	to {transfrom: translateY(50px);}
}


.modal-header {
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
  }


#modaltitle {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	font-family: 'Work Sans';
	color: #000000;
	font-size: 26px;
	width: 100%;
	padding-right: 40px; 
	padding-top: 30px;
	font-weight: 300;
  }


  
.close-button {
	background: none;
	border: none;
	font-size: 20px;
	cursor: pointer;
	position: absolute;
	top: 5px;
	right: 30px; 
	padding-top: 20px;
  }

  
  .close-button i {
	color: black;
  }
  
  .photo-gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    margin-bottom: 20px;
	padding-top: 20px;
	padding-left: 70px;
	padding-right: 70px;
}

.photo-gallery figure {
    position: relative;
}

.photo-gallery img {
    width: 100%;
    height: auto;
    display: block;
}

.delete-button {
    position: absolute;
    top: 5px; 
    right: 5px;
    background-color: black;
    border: none;
    color: white;
    font-size: 9px;
    border-radius: 2px;
    cursor: pointer;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.modal-line {
    width: 77%; /* Adjust width to make the line shorter */
    height: 1px;
    background-color: #B3B3B3;
    margin: 0 auto 20px; /* Ensures the line is centered and has space below it */
}

.modal-footer {
    margin-top: 70px;
	display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.add-photo-button {
    display: flex;
	width: 237px;
	height: 36px;
    background-color: #1D6154;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 14px;
    cursor: pointer;
	justify-content: center; 
    align-items: center;
    text-align: center;
    margin-top: 20px;
	font-family: 'Syne';
	font-weight: 300;
	text-decoration: none;
}

/*Modal2*/
/* Form container */
.back-button {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    color: #000000; 
    background: none; 
    border: none; 
    padding: 10px;
    cursor: pointer;
    &>i{ pointer-events: none; }/*  */
}



.add-photo-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-left: 70px;
    padding-right: 70px;
}

/* Upload preview styles */
.upload-preview {
    background-color: #E8F1F6;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    width: 420px;  /* Set the width */
    height: 169px; /* Set the height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }



.upload-preview i, .btn-add-photo, .small-text {
    display: block;
  }

.small-text {
    font-size: 10px;
    padding: 5px;
  }

.upload-preview img.active {
    display: block; /* Show the preview when available */
  }

.upload-preview .hidden-elements {
    display: none; /* Hide elements when the image is previewed */
  }
  
.upload-preview i {
    font-size: 76px;
    color: #B9C5CC;
    padding-bottom: 5px;
}


#image-preview {
    height: 136%;
    max-width: 100%;
    object-fit: cover; /* Ensures the image covers the area and is cropped if needed */
    display: none; /* Hide initially until an image is selected */
    
}

.btn-add-photo {
    display: flex; /* Use flexbox for alignment */
    justify-content: center; /* Center the text horizontally */
    align-items: center; /* Center the text vertically */
    background-color: #D9E3E9;
    border-radius: 30px;
    color: #306685;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    width: 173px;
    height: 36px;
}


/* Form input group */
.form-input-group {
    width: 100%;
    margin-bottom: 20px;
}

.form-label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #333;
    text-align: left;
}


.form-input,
.form-input-group select {
    width: 98%;
    height: 51px;
    border: 1px solid #e0e0e0;
    border-radius: 0px;
    font-size: 14px;
    font-family: 'Work Sans';
    background-color: #ffffff;
    box-shadow: 0px 4px 14px 0px #00000017;
    border-color: #ffffff;
    -webkit-appearance: none;
    /*Ensuresselectdropdownhassameappearance*/-moz-appearance: none;
    appearance: none;
    outline: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

/* Specific styling for the "Catégorie" field */
#category {
    width: 99%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    padding: 12px;
    font-size: 14px;
    
    /* Background arrow */
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iNiIgdmlld0JveD0iMCAwIDEwIDYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTkgMUw1IDVMMiAxIiBzdHJva2U9IiM2NjYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtY29sbGVyPSIjNjY2Ii8+PC9zdmc+');
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: 10px 6px;
    padding-right: 40px; 
}

/* Modal Footer */
.modal-footer-2 {
    margin-top: auto;
	display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.modal-line-2 {
    width: 100%; 
    height: 1px;
    background-color: #B3B3B3;
    margin: 0 auto 20px; 
}

